opencv-python
opencv-contrib-python
autopep8
click
deskew
Flask
Flask-Cors
imageio
itsdangerous
Jinja2
marisa-trie
MarkupSafe
networkx
numpy
packaging
Pillow
pycodestyle
pyparsing
pytesseract
PyWavelets
scikit-image
scipy
six
tifffile
toml
Werkzeug
